@import '../variables.scss';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 1.5rem;
  border-bottom: 4px solid transparent;
}

.toolbar-logo a {
  text-decoration: none;
  font-weight: bold;
}

.brand-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $tono-tierra-3;
}

.toolbar-logo img {
  height: 40px;
}

.toolbar-links {
  display: flex;
  gap: 2rem;
  a {
    color: $color-texto-principal;
    text-shadow: 0 0 5px $color-primary;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 4px solid transparent; 
  }
}

.toolbar-links a:hover{
  border-bottom-color: $color-primary;
  color: $color-blanco;
  text-shadow: 0 0 10px $color-accent-1;
}

.toolbar-links a.active {
  color: $color-accent-1;
  border-bottom-color: $color-accent-1;
  text-shadow: 0 0 10px $color-accent-1;
}

/* Estilos para el menú hamburguesa */
.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: $color-blanco;
}

@media (max-width: 768px) {
  .toolbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    background-color: $color-bg-surface;
    border: 2px solid $color-primary;
    border-radius: 8px;
    z-index: 1000;
    padding-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 0 4px 15px rgba(213, 0, 255, 0.4);
  }

  .toolbar-links.open {
    display: flex;
    align-items: center;
  }

  .toolbar-links a {
    margin: 0 0.5rem;
    padding: 15px;
    border-top: 1px solid rgba(213, 0, 255, 0.3);
  }

  .hamburger-menu {
    display: block;
  }
}
