// Colores principales
$naranja-saiyajin: #FF8C3F;
$naranja-saiyajin-second: #fc6214;
$azul-ceruleo: #007BFF;
$verde-esmeralda: #28A745;

// Colores secundarios
$amarillo-dorado: #FFD700;
$rosa-intenso: #FFC0CB;
$morado-oscuro: #5856D6;

// Colores adicionales
$blanco-puro: #FFFFFF;
$negro-intenso: #000000;
$tono-tierra-1: #C6A600; 
$tono-tierra-2: #8B4513; 
$tono-tierra-3: #F0DC8B; 