.container-tabs {
    padding: 1rem;
}

mat-icon {
    color: #FF4500;
    background: radial-gradient(circle, rgba(255, 165, 0, 1) 0%, rgba(255, 69, 0, 1) 100%);
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}

.nodata {
    text-align: center;
    color: #FF4500;
    font-weight: 600;
}

label {
    color: orange;
    font-weight: 600;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: orangered;
}



.card {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(231, 188, 239);
    padding: 1rem;
    text-align: center;

    &:hover {

        filter: drop-shadow(4px 10px 12px rgb(216, 121, 242));
        background-color: rgb(236, 117, 222);
        color: white;

        h2 {
            color: white;
        }


        .image {
            transform: scale(1.1) rotate(5deg);
        }

        button {
            opacity: 1;
        }
    }

}

.image {
    object-fit: contain;
    height: 200px;
    filter: drop-shadow(4px 10px 12px rgb(255, 255, 255));
    transition: transform 0.3s ease;
}


.dragon-ball-button {
    margin: 0 auto;
    opacity: 0;
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, rgba(255, 165, 0, 1) 0%, rgba(255, 69, 0, 1) 100%);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }

    .stars {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-around;
        align-items: center;

        .star {
            font-size: 14px;
            color: #FF4500;
            width: 20%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}