// Definición de variables de color
$color-orange: #FFA500;
$color-orange-red: #FF4500;
$color-gradient-start: rgba(255, 165, 0, 1);
$color-gradient-end: rgba(255, 69, 0, 1);
$color-card-bg: rgb(231, 188, 239);
$color-card-hover-bg: rgb(236, 117, 222);
$color-drop-shadow: rgb(216, 121, 242);
$color-image-shadow: rgb(255, 255, 255);

// Estilos
.container-tabs {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    mat-tab {
        cursor: pointer;
    }
}

mat-icon {
    color: $color-orange-red;
    background: radial-gradient(circle, $color-gradient-start 0%, $color-gradient-end 100%);
    border-radius: 50%;
    margin-right: 10px;
}

.nodata {
    text-align: center;
    color: $color-orange-red;
    font-weight: 600;
}

label {
    color: $color-orange;
    font-weight: 600;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

h4 {
    text-align: center;
    margin-bottom: 1rem;
    color: $color-orange-red;
}

.card {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $color-card-bg;
    padding: 1rem;
    text-align: center;

    &:hover {
        filter: drop-shadow(4px 10px 12px $color-drop-shadow);
        background-color: $color-card-hover-bg;
        color: white;

        h2 {
            color: white;
        }

        .image {
            transform: scale(1.1) rotate(5deg);
        }

        button {
            opacity: 1;
        }
    }
}

.image {
    object-fit: contain;
    height: 200px;
    filter: drop-shadow(4px 10px 12px $color-image-shadow);
    transition: transform 0.3s ease;
}

.dragon-ball-button {
    margin: 0 auto;
    opacity: 0;
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, $color-gradient-start 0%, $color-gradient-end 100%);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }

    .stars {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-around;
        align-items: center;

        .star {
            font-size: 14px;
            color: $color-orange-red;
            width: 20%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    .container-tabs {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}