<div class="container-tabs">
    <div class="container-card">

        <app-filter-cards (filterChanged)="onFilterChanged($event)"></app-filter-cards>

        @for (character of filteredCharacters; track character.id ) {
        <div class="card-wrapper" [class.flipped]="flippedCards.has(character.id)" (click)="toggleFlip(character.id, $event)">
            <div class="card card-front">
                <h4>{{ character.name }}</h4>
                <div class="image-container">
                    <img class="image" [src]="character.image" alt="{{ character.name }}">
                </div>
                <div class="stats">
                    <p><strong>Ki:</strong> <span>{{ character.ki }}</span></p>
                    <p><strong>Raza:</strong> <span>{{ character.race }}</span></p>
                    <p><strong>Filiación:</strong> <span>{{ character.affiliation }}</span></p>
                </div>
            </div>
            
            <div class="card card-back">
                <h4>{{ character.name }}</h4>
                <div class="description-preview">
                    {{ character.description ? (character.description | slice:0:120) + '...' : 'Sin descripción' }}
                </div>
                <button (click)="showDescription(character, $event)" class="btn-more" title="Ver Detalle">
                    Ver Más
                </button>
            </div>
        </div>
        } @empty {
        <div class="nodata">
            <label>Cargando personajes o sin resultados.</label>
        </div>
        }

    </div>
    <div *ngIf="isLoading" class="loading-more">
        <p>Cargando más personajes...</p>
    </div>
</div>