<div class="home-container">
    <app-carousel></app-carousel>
    <div class="hero-section">
        <h1>Explora el Universo<br><span class="highlight">Dragon Ball</span></h1>
        <p class="subtitle">Conéctate a la base de datos de guerreros más grande y demuestra tu poder.</p>
    </div>

    <div class="features-grid">
        <section class="feature-card">
            <h2>Enciclopedia Completa</h2>
            <p>Visualiza detalles de cada personaje extraídos directamente de la API Oficial.</p>
            <ul>
                <li>Razas y Planetas de origen</li>
                <li>Niveles de poder exactos</li>
            </ul>
        </section>

        <section class="feature-card">
            <h2>Arena de Batalla</h2>
            <p>Pon a prueba tus guerreros Z en nuestro juego de cartas interactivo.</p>
            <ul>
                <li>Compara KI máximos</li>
                <li>Desata combates letales</li>
            </ul>
        </section>
    </div>
</div>
