<!-- home.component.html -->
<div class="container">
    <app-carousel></app-carousel>
    <header>
        <h1>Bienvenido a la App de Personajes de Dragon Ball</h1>
        <p>Explora el universo de Dragon Ball, conoce a tus personajes favoritos y más.</p>
    </header>

    <section>
        <h2>Sobre la Aplicación</h2>
        <p>Esta aplicación te permite explorar información detallada sobre los personajes del universo de Dragon Ball.</p>
        <p>Puedes:</p>
        <ul>
            <li>Buscar y visualizar detalles de cada personaje.</li>
            <li>Guardar tus personajes favoritos.</li>
            <li>Simular batallas entre personajes.</li>
            <!-- Otros aspectos de la app -->
        </ul>
    </section>

    <section>
        <h2>Funcionalidades</h2>
        <p>Descubre las características y habilidades únicas de cada personaje.</p>
        <!-- Detalles adicionales de funcionalidades -->
    </section>

    <section>
        <h2>Guarda tus Favoritos</h2>
        <p>Marca tus personajes favoritos y accede fácilmente a ellos.</p>
        <!-- Detalles adicionales sobre favoritos -->
    </section>

    <!-- Otras secciones sobre batallas, etc. -->

</div>
